name: Deploy Emjees Website

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H ${{ secrets.20.244.28.92 }} >> ~/.ssh/known_hosts

      - name: Deploy to Server
        run: |
          ssh ${{ secrets.anugrah@${{ secrets.20.244.28.92 }} << 'EOF'
            set -e
            cd /var/www/coba-mjs
            git pull origin main
            sudo -n systemctl reload nginx
          EOF
